div
  background: #2b5cff
  color: #222222
  box-shadow: none
  padding: 50px 25px
  width: 400px
  margin: auto
  margin-top: 50px
  text-align: center
  border-radius: 25px

  table
    width: 100%
